<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/img/image.png" class="img-circle elevation-2" alt="tracking">
      </div>
      <div class="info">
        <a routerLink="/" class="d-block">Tracking GPS</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>Autenticazione</p>
            <i class="fas fa-angle-left right"></i>
          </a>
          <ul class="nav nav-treeview">
            <li *ngIf="!isUserLoggedIn" (click)="login($event)" class="nav-item">
              <a class="nav-link">
                <i class="fas fa-unlock-alt pr-2 pl-2 fa-sm"></i>
                <p>login</p>
              </a>
            </li>
            <li *ngIf="!isUserLoggedIn" class="nav-item">
              <a (click)="signUp($event)" class="nav-link">
                <i class="fas fa-user-edit fa-sm pr-2 pl-2"></i>
                <p>registrati</p>
              </a>
            </li>
            <li *ngIf="isUserLoggedIn" class="nav-item">
              <a routerLink="/ums" class="nav-link">
                <i class="fas fa-users-cog pr-2 pl-2 fa-sm"></i>
                <p>Utenti</p>
              </a>
            </li>
            <li *ngIf="isUserLoggedIn" class="nav-item">
              <a (click)="logout($event)" class="nav-link">
                <i class="fas fa-sign-out-alt pr-2 pl-2 fa-sm"></i>
                <p>logout</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/map" class="nav-link">
            <i class="nav-icon fas fa-map-marked-alt"></i>
            <p>Monitoraggio GPS</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
