.fa-chevron-up {
  animation-name: drop;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.back-to-top{
  border-radius: 40px;
}


@keyframes drop {
  0% {
    top: 25px;
    opacity: 0;
  }

  30% {
    top: 10px;
    opacity: 1;
  }

  100% {
    top: 5px;
    opacity: 0;
  }
}
