<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Applicazioni</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="row">
      <div class="col-12">
        <div class="card card-primary card-outline card-solid">
          <div class="card-header p-2">
            <h3>Monitoraggio GPS</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-5">

                <div class="col-12">
                  <img src="/assets/img/gps-tracker.png" class="product-image" alt="MonitoraggioGPS">
                </div>
              </div>
              <div class="col-12 col-sm-7 pt-2">
                <h5>Raccoglie dati georeferenziati dai rilevamenti dal GPS</h5>
                <hr>
                <h4>Framework</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-default text-center active">
                    <img src="/assets/img/angular2.png" width="50%"  alt="Angular">
                  </label>
                  <label class="btn btn-default text-center active">
                    <img src="/assets/img/leaflet3.gif" width="40%" alt="Leaflet">
                  </label>
<!--                  <label class="btn btn-default text-center">
                    <input type="radio" name="color_option" id="color_option_a3" autocomplete="off">
                    Purple
                    <br>
                    <i class="fas fa-circle fa-2x text-purple"></i>
                  </label>
                  <label class="btn btn-default text-center">
                    <input type="radio" name="color_option" id="color_option_a4" autocomplete="off">
                    Red
                    <br>
                    <i class="fas fa-circle fa-2x text-red"></i>
                  </label>
                  <label class="btn btn-default text-center">
                    <input type="radio" name="color_option" id="color_option_a5" autocomplete="off">
                    Orange
                    <br>
                    <i class="fas fa-circle fa-2x text-orange"></i>
                  </label>-->
                </div>
                <div class="mt-4">
                  <a routerLink="/map" class="btn btn-primary btn-lg btn-flat">
                    <i class="fas fa-hand-point-up fa-lg mr-2"></i>
                    Vai all app!
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
